@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;900&family=Open+Sans&family=Poppins:wght@400;600;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;0,800;1,400&display=swap');

body {
    font-family: Open Sans;
    background-color: rgb(233, 237, 238);
}
header {
    background-color: rgb(34, 47, 63);
}

.nav {
    background-color: rgb(54, 71, 89);
    margin: 0;
    padding-left: 10px;
}


div {
    margin-top: 20px;
    
}

.logo {
    height: 40px;
    margin: 10px;
    margin-left: 20px;
}

span {
    padding: 2px;
}
.nav a {
    text-decoration: none;
    color: #fff;
    display: inline-block;
    margin: 10px;
}

main {
    padding: 20px;
    max-width:1280px; margin-left:auto ;margin-right:auto;
}

h2 {
    font-size: 1.4rem;
    font-weight: 600;
}

.gift {
    background-color: rgb(245, 102, 0);
    color: #fff;
    text-align: center;
}

.gift h4 {
    padding: 15px;
}

.holiday{
    text-align: center;
    margin-top: 20px;
    background-image: url(./assets/bg-image.png);
    background-size: contain;
    color: #fff;
}
.holiday h1{
    font-size: 1.7rem;
    padding-top: 50px;
    padding-bottom: 30px;
    font-weight: 600;
}

.holiday h3 {
    padding-bottom: 35px;
    font-weight: 600;
}

.cards div {
    
    display: inline-block;
    margin: 10px;
}

.cards {
    background-color: #fff;
    text-align: center;
}

.cards h2 {
    text-align: left;
    margin-left: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
}

main a {
    text-decoration: none;
    color: rgb(12, 143, 170);
    padding-left: 10px;
    font-weight: 800;
    font-size: 1rem;
}

.cards img {
    object-fit: cover;
    border-radius: 20px;
    height: 400px;
    width: 280px;
    box-shadow: 10px 5px 20px 5px rgba(171, 170, 170, 0.493)
}

.element img {
    width: 100%;
}

.element h2 {
    text-align: center;
    padding-top: 10px;
}

.back {
    background-color: rgb(54, 71, 89);
    text-align: center;
    padding: 20px;
}

.back a {
    text-decoration: underline;
    margin: 10px;
    color: #fff;
}


footer {
    background-color: rgb(34, 47, 63);
    text-align: center;
}
.foot {
    background-color: rgb(34, 47, 63);
    margin-top: 0;
}

footer img {
    width: 200px;
    margin: 40px;
}